<%= image_tag @handle_tweets.first.profile_image_url %>
<div id="twitter_text">
  <table>
    <% @handle_tweets.each do |r| %>
      <tr>
        <td><li><%= r['text'] %></li></td>
      </tr>
    <% end %>
  </table>
</div>

<div id="blog">
  <% @post.each do |p| %>
    <%= p.title %>
    <%= p.date %>
    <%= p.content %>
    <br />
  <% end %>
</div>

