<div class="date_time">
  <%= @time %>
</div><!-- date_time" -->

<div class="twitter_image">
  <%= image_tag @handle_tweets.first.profile_image_url %>
</div><!-- twitter_image -->

<div class="twitter_text">
  <% @handle_tweets.each do |r| %>
    <div><%= r['text'] %></div>
  <% end %>
</div><!-- twitter_text -->

<br />

<div class="blog">
  <% @post.each do |p| %>
    <div>Title: <%= p.title %></div>
    <div>Date: <%= p.date %></div>
    <div><%= p.content %></div>
    <br />
  <% end %>
</div><!-- blog -->

<div class="social_media">
  <div><%= link_to "Twitter", "http://twitter.com/nickpgreenfield" %></div>
  <div><%= link_to "Google+", "https://plus.google.com/103556857709392264587/posts?hl=en" %></div>
  <div><%= link_to "Github", "https://github.com/Greenie0506" %></div>
  <div><%= link_to "Email", "mailto:greenie0506@gmail.com" %></div>
</div><!-- social_media -->
